@font-face {
    font-family: "Rubik";
    src: url(../fonts/Rubik.ttf);
}
*{
    margin: 0;
    padding: 0;
    outline: none;
}
a{
    text-decoration: none;
    color: #2a4aff;
}
ul,ol{
    list-style-type: none;
}
img{
    vertical-align: middle;
}
body{
    background: #ffffff;
    font-family: 'Rubik', sans-serif;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6,p,a,ul,ol,li,label,input,form,textarea,.btn,.navbar,.navbar-brand,span,i{
    margin: 0;
    padding: 0;
    border: 0;
}

.h1{
    font-size: 56px;
    font-weight: 700;
    color: #2c3754;
    text-transform: capitalize;
    display: block;
}
.h2{
    font-size: 40px;
    font-weight: 700;
    color: #222222;
    line-height: 1.5;
    text-transform: capitalize;
    display: block;
}
.h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    color: #222222;
    text-transform: capitalize;
    display: block;
}
.h4{
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    color: #ab6db0;
    text-transform: capitalize;
    display: block;
}
.h5{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: #222222;
    display: block;
}

p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: #444444;
}
/* a{
    color: #b19cb2;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.4s;
} */

.btn_com{
    font-size: 20px !important;
    font-weight: 400 !important;
    text-align: center;
    color: #2c1c25 !important;
    background-color: #ab6db0;
    padding: 20px 40px !important;
    border-radius: 40px;
    transition: 0.4s;
    box-shadow: 0 9px 20px #52075687;
}

.py_100{
    padding: 100px 0;
}
.py_60{
    padding: 60px 0;
}
.pt_100{
    padding-top: 100px;
}
.pb_100{
    padding-bottom: 100px;
}
.pt_60{
    padding-top: 60px;
}
.pb_60{
    padding-bottom: 60px;
}
.mt_30{
    margin-top: 30px;
}
.mb_30{
    margin-bottom: 30px;
}


/* //////////////////////////////////
Common Css end
///////////////////////////////// */

/* header section css  */
.header_part{
    padding: 30px 0px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

    /* menu css */
    .menu .nav-item .nav-link{
        color: #b19cb2 ;
        font-size: 18px;
        font-weight: 500;
        padding: 24px 22px;
        text-transform: uppercase;
        transition: 0.4s;
    }
    
    .menu .nav-item .nav-link.active,
    .menu .nav-item .nav-link:hover{
        color: #ab6db0;
    }
    .menu .nav-item .nav-link{
        display: inline-block;
    }
    /* menu css */
/* header section css  */
/* banner section css  */
.banner_part{
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    transform: scale(1);
    padding: 300px 0px 190px;
    position: relative;
}

/* banner section css  */
/* work_process css start */
.work_process_item{
    background-color: #ab6db0;
    padding: 30px 20px;
    border-radius: 5px;
    position: relative;
}
.number{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #ffffff;
    background-color: #952c9e;
    line-height: 60px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}
.text .h3{
    color: #ffffff;
}
.text p{
    color: #ffffff;
    font-size: 16px;
    margin-top: 8px;
}
/* work_process css end */










